body {
    padding-top: 145px;
    font-size: 14px;
}

.account.dropdown .dropdown-menu {
    background: #232a32;
    border-radius: 0;
    margin-top: -5px;
    right: 0;
}

.account.dropdown:hover .dropdown-menu:before {
    border-left: 7px solid transparent;
    border-bottom: 7px solid #232a32;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 50%;
    right: auto;
    position: absolute;
    top: -8px;
    z-index: 1;
    margin-left: -3px;
}

.account.dropdown:hover .dropdown-menu {
    display: block;
}

.account.dropdown .dropdown-menu > li {
    padding: 4px 0;
    display: block;
}

.account.dropdown .dropdown-menu > li > a {
    color: #fff;
}

.account.dropdown .dropdown-menu > li > a:hover {
    color: #F6BB19;
    background: transparent;
}

.menu-account {
    color: #fff;
    font-size: 14px;
}

.menu-account:hover,
.menu-account:focus {
    color: #fff;
}

header .top_header ul li:hover > a,
header .top_header ul li:hover > a > span,
header .top_header ul li:hover > a > i {
    color: #F6BB19;
}

header .top_header p {
    color: #fff;
}

header .top_header ul li i, header .top_header ul li span {
    color: #fff;
    display: inline-block;
}

header .top_header ul li i:hover, header .top_header ul li span:hover {
    color: #fff;
}

.single-blog-page .single-blog-post .post-meta {
    margin: 0;
}

ul.breadcrumb {
    padding: 10px 18px;
}

ul.breadcrumb > li {
    font-size: 14px;
    color: #ababab;
}

ul.breadcrumb > li > a {
    font-size: 14px;
    font-style: normal;
    color: #000;
}

.faqs_sec .row .left_side {
    padding-top: 25px;
}

.blog-container .white-left {
    padding-top: 25px;
    min-height: 650px;
}

.welcome_details .welcome_info {
    height: 185px;
}

.we_are .right_side h2 {
    font-weight: normal;
    font-size: 20px;
    word-spacing: inherit;
    padding-bottom: 15px;
    padding-top: 25px;
    margin-bottom: 25px;
}

.we_are .right_side h2:before {
    content: '';
    width: 45px;
    height: 3px;
    background: #f6ba18;
    position: absolute;
    top: 59px;
    left: 0;
}

.we_are .right_side ul {
    list-style-type: inherit;
    margin-left: 15px;
}

.we_are .right_side ul > li {
    color: #fff;
    font-size: 14px;
    padding: 5px 0;
}

.about_banner {
    background: url('../images/banner.png') no-repeat center;
    height: 438px;
    margin-top: -65px;
    background-size: cover;
    background-position: center center;
}

.about_banner_opacity {
    background: transparent;
    height: 438px;
}

.mainmenu-area {
    position: relative;
    z-index: 2;
    opacity: .95;
}

.banner_info_about ul li a, .banner_info_about ul li {
    font-style: normal;
}

.welcome_details img {
    background: #fff;
    padding: 0;
    z-index: 1;
    top: 0;
    position: absolute;
    width: auto;
    height: auto;
    max-width: 154px;
    max-height: 142px;
    bottom: 0;
    margin: auto;
    left: 8px;
}

.welcome_details .img {
    background: #fff;
    padding: 8px;
    position: absolute;
    z-index: 1;
    top: 14px;
    width: 170px;
    height: 158px;
    text-align: center;
    border: 1px solid #e6e6e6;
}

.notify {
    border-radius: 0;
    padding: 10px;
    margin: 0;
    font-size: 14px;
    background: #f7b200;
    border-color: #f7b200;
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.consultation .download,
.consultation .download:hover {
    background: #eee;
    border: 1px solid #aaa;
    padding: 5px 10px;
    border-radius: 4px;
    color: #333;
}

.icon-download-cn {
    background: url("../images/taobao.png");
    width: 34px;
    height: 34px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.icon-download-us {
    background: url("../images/amazon.png");
    width: 34px;
    height: 34px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.img-holder {
    margin-bottom: 25px;
}

.modal-content {
    border-radius: 0;
    font-size: 14px;
}

header .bottom_header {
    background: #fff;
    border-bottom-color: #e9e9e9;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

header .top_header {
    background: #454545;
    height: auto;
}

header .top_header div,
header .top_header p {
    color: #bcbcbc;
    font-size: 13px;
}

.menu-account {
    color: #bcbcbc;
    font-size: 13px;
}

header .top_header ul li i, header .top_header ul li span {
    color: #bcbcbc;
    display: inline-block;
}

.account.dropdown .dropdown-menu > li > a {
    color: #bcbcbc;
    font-size: 13px;
}

.account.dropdown .dropdown-menu {
    background: #454545;
    border-radius: 0;
    margin-top: 0;
    right: 0;
}

.account.dropdown:hover .dropdown-menu:before {
    border-left: 7px solid transparent;
    border-bottom: 7px solid #454545;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 50%;
    right: auto;
    position: absolute;
    top: -8px;
    z-index: 1;
    margin-left: -3px;
}

#heart-banner {
    margin-top: -65px;
    /*height: 758px;*/
    height: auto;
    position: relative;
}

#heart-banner .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/heart-banner/bg-video.png) repeat top left;
    text-align: center;
    z-index: 1;
    padding-top: 150px;
    color: #FFF;
}

#heart-banner video {
    width: 100%;
}

.single-advisor .img-holder img {
    width: 100%;
    height: auto;
}

.welcome_sec {
    padding-top: 25px;
    background: #fff;
    /* height: 756px; */
    padding-bottom: 25px;
}

.our_advisor {
    padding-top: 25px;
    background: #fff;
    padding-bottom: 87px;
    clear: both;
}

.img-holder {
    margin-bottom: 0;
}

/*footer .top_footer {
    background: #454545;
}*/

footer .top_footer .part2 ul li a {
    font-size: 14px;
    color: #bcbcbc;
}

footer .top_footer h5 {
    /* font-style: italic; */
    font-weight: 600;
    font-size: 1.125em;
    color: #bcbcbc;
    position: relative;
}

footer .bottom_footer p {
    margin: 0;
    font-size: 12px;
    color: #9692a0;
    padding: 10px 0;
}

a {
    color: #000;
}

a:hover {
    color: #F6BB19;
}

.faqs_sec .left_side p, .faqs_sec .left_side .category_item li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;
    border: none;
    line-height: 28px;
}

/**
  * New Style
  */

/*
header .top_header {
    background: #fff;
    min-height: 80px;
    border-bottom: 1px solid #ebebeb;
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    color: #000;
}

header .top_header p,
header .top_header .menu-account,
header .top_header ul li i,
header .top_header ul li span {
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
}

header .top_header ul li:hover > a, header .top_header ul li:hover > a > span, header .top_header ul li:hover > a > i {
    color: #12a0b1;
}

header .top_header ul li {
    line-height: 80px;
}

header .top_header .logo {
}

header .top_header .logo > img {
    height: 50px;
    margin-top: 15px;
}

.account.dropdown .dropdown-menu {
    margin-top: 1px;
    background: #000;
}

.account.dropdown .dropdown-menu > li > a > .glyphicon {
    color: #fff;
}

.account.dropdown .dropdown-menu > li > a {
    color: #fff;
    font-size: 14px;
    padding: 5px 20px;
    line-height: 14px;
}

.account.dropdown .dropdown-menu > li > a:hover > .glyphicon {
    color: #F6BB19;
}

header .top_header ul li.account .menu-account {
    text-transform: inherit;
}

header .top_header ul li.account {
    border-left: 1px solid #ebebeb;
    margin-left: 16px;
}

.about_banner {
    background: url(../images/banner2.jpg) no-repeat center;
    height: 438px;
    margin-top: -65px;
    background-size: cover;
    background-position: center center;
}

.consultation {
    background: #3B5998;
    padding-top: 28px;
    padding-bottom: 28px;
}

.consultation p {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #fff;
    display: inline-block;
    margin: 0;
    line-height: 30px;
    padding-right: 50px;
    position: relative;
    top: 5px;
}

.our_advisor h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 22px;
    color: #323232;
    position: relative;
    padding-left: 12px;
}
*/

.about_banner {
    background: url(../images/banner2.jpg) no-repeat center;
    height: 438px;
    margin-top: -65px;
    background-size: cover;
    background-position: center center;
}

ul.main-menu {
    margin: 0;
}

ul.main-menu > li {
    list-style: none;
    display: inline-block;
    padding: 18px 10px;
}

ul.main-menu > li:last-child {
    padding-right: 0;
}

ul.main-menu > li > a {
    text-transform: uppercase;
    font-size: 14px;
}

header .top_header .contact-info {
    font-family: 'Roboto', sans-serif;
    color: #bcbcbc;
    font-size: 13px;
    padding: 7px 0;
    margin: 0;
    /* line-height: 50px; */
}

header .top_header p {
    line-height: 36px;
}

header .top_header ul li {
    line-height: 36px;
}

header .header-support {
    background: #fff;
    padding: 10px 0;
    /* border-top: 1px solid #e6e6e6;
     border-bottom: 1px solid #e6e6e6;*/
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.table {
    display: table;
    width: 100%;
    margin: 0;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

.text-center {
    text-align: center;
}

.slide {
}

.slide img {
    width: 100%;
}

.consultation p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

#desktop {
    display: block;
}

#mobile {
    display: none;
}

@media (max-width: 990px) {
    body {
        padding-top: 108px;
    }

    #desktop {
        display: none;
    }

    #mobile {
        display: block;
    }

    #mobile .header-top {
        background: #454545;
        padding: 10px;
        color: #BCBCBC;
        font-size: 14px;
    }

    .consultation {
        padding: 0;
    }

    .consultation p {
        font-size: 14px;
    }

    .consultation a {
        font-size: 14px;
        font-weight: normal;
        display: block;
        text-align: left;
    }

    .welcome_details {
        margin-top: 0;
    }

    .single-advisor .img-holder {
        height: auto !important;
    }

    .single-advisor .img-holder img {
        width: auto;
        height: auto;
        max-width: 100%;
    }

    #mobile .header-top .menu {
        display: none;
        width: 80%;
        background: #333;
        position: fixed;
        top: 0;
        left: 0;
        padding: 10px 0;
        bottom: 0;
        border-color: rgba(0, 0, 0, 0.15);
        color: rgba(255, 255, 255, 0.8);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        z-index: 1;
    }

    #mobile .header-top .menu.active {
        display: block;
    }

    #mobile .header-top .menu > .title .close {
        text-shadow: none;
        color: rgba(255, 255, 255, 0.8);
    }

    #mobile .header-top .menu > .title {
        padding: 0 15px;
        position: relative;
    }

    #mobile .header-top .menu > ul {
        border-top: solid 1px rgba(0, 0, 0, 0.15);
        margin: 10px 0 0 0;
        padding: 0 15px;
    }

    #mobile .header-top .menu > ul > li {
        border-bottom: solid 1px rgba(0, 0, 0, 0.15);
        padding: 10px 0;
    }

    #mobile .header-top .menu > ul > li > a {
        color: rgba(255, 255, 255, 0.8);
        display: table;
        width: 100%;
    }

    #mobile .header-middle {
        background: #fff;
        padding: 10px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid #e9e9e9;
        position: absolute;
        width: 100%;
    }

    #mobile .header-middle .logo {
        vertical-align: middle;
    }

    #mobile .header-middle .navicon-2 {
        background: #F60;
        color: #fff;
        padding: 4px 8px;
        border-radius: 3px;
        float: right;
        margin-top: 8px;
    }

    #mobile .header-middle .menu {
        position: absolute;
        width: 100%;
        background: #fff;
        right: 0;
        top: 100%;
        display: none;
    }

    #mobile .header-middle .menu > ul {
        margin: 0;
        padding: 0;
        border-top: 1px solid #e6e6e6;
    }

    #mobile .header-middle .menu > ul > li {
        padding: 10px;
        border-bottom: solid 1px #e6e6e6;
    }

    #mobile .header-middle .menu > ul > li > a {
        display: table;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .welcome_details .img {
        display: none;
    }

    .welcome_details .welcome_info {
        height: auto;
        padding: 0;
    }

    .welcome_details h3:before {
        width: 0;
        height: 0;
    }

    .welcome_details h3, .welcome_details p {
        padding-top: 0;
    }

    .welcome_details .col-md-12 {
        margin-bottom: 25px;
    }

    .welcome_sec {
        padding-bottom: 0;
    }

    .we_are iframe {
        width: 100% !important;
    }
}

#modal-login .modal-dialog {
    width: 750px;
}

#modal-login .tab-content {
    padding: 20px 0;
}

#modal-login h1 {
    font-size: 16px;
    margin: 0 0 20px 0;
}

#modal-login .hr-line {
    border-right: 1px solid #e5e5e5;
    position: relative;
    padding-right: 30px;
}

#modal-login .hr-line > .or {
    position: absolute;
    right: -18px;
    top: 50px;
    display: inline-block;
    background: #fff;
    padding: 5px 0;
}

#modal-login .btn-social {
    text-align: left;
    width: 100%;
}

#modal-login .login-social {
    padding-left: 30px;
}

#news{}
#news h3{
    font-size: 18px;
}
#news ul{}
#news ul > li{
    padding: 5px 0;
}
#news ul > li > a{}