.pdl0 {
    padding-left: 0;
}

.mr0 {
    margin: 0;
}

.mrt5 {
    margin-top: 5px;
}

.mrt15 {
    margin-top: 15px;
}

.mrr5 {
    margin-right: 5px;
}

.mrb15 {
    margin-bottom: 15px;
}

.tb {
    display: table
}

.tb .tr {
    display: table-row
}

.tb .td {
    display: table-cell
}

.full-width {
    width: 100%;
}

.b {
    font-weight: bold;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

header > .top {
    background: #b72525;
    font-weight: bold;
    color: #fff;
    border: none;
    min-height: inherit;
}

header > .top .navbar-nav > li {
    margin: 0 10px;
}

header > .top .navbar-nav > li > a {
    padding: 10px 0;
    color: #fff;
    border-top: solid 2px transparent;
    text-transform: uppercase;
    font-size: 12px;
}

header > .top .navbar-nav > li > a:hover,
header .navbar-inverse .navbar-nav > .active > a,
header .navbar-inverse .navbar-nav > .active > a:focus,
header .navbar-inverse .navbar-nav > .active > a:hover {
    background: transparent;
    border-top: solid 2px #fff;
}

header > .middle {
    margin-top: 50px;
    padding: 15px 0;
}

header > .bottom {
    background: #f5f5f5;
    border-bottom: solid 2px red;
    border-radius: 0;
}

header > .bottom .menus {
    display: table;
    width: 100%;
}

header > .bottom .navbar-nav > li {

    position: relative;
}

header > .bottom .navbar-nav > li > .dropdown-menu {
    display: none;
    top: 100%;
    margin-top: 0px;
    width: 100%;
    height: 300px;
}

header > .bottom .search {
    position: relative;
}

/*header > .bottom .search:before {
    content: "\f002";
    position: absolute;
    top: 9px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    font-family: FontAwesome;
    font-size: 14px;
    right: 0;
    left: auto;
    color: #363636;
}*/

header > .bottom .search .search-input {
    padding: 5px 30px 5px 10px;
    font-size: 14px;
    box-sizing: border-box;
    margin: 9px 0 0 0;
    border-radius: 0;
    color: #666;
    -webkit-appearance: none;
    width: 69%;
    border: 1px solid transparent;
    background: #fff;
    -webkit-transition: all linear .2s;
    transition: all linear .2s;
    vertical-align: middle;
}

header > .bottom .navbar-nav > li:hover > .dropdown-menu {
    display: block;
}

header > .bottom .navbar-nav > li > .dropdown-menu img {
    max-width: 100%;
    max-height: 250px;
}

header > .bottom .navbar-nav > li:hover > .dropdown-menu {
    display: block;
    width: auto;
    height: auto;
}

header > .bottom .navbar-nav > li > .dropdown-menu .menu {
    padding: 10px 0;
}

header > .bottom .navbar-nav > li > .dropdown-menu .menu > li {
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
    color: #666;
    min-width: 180px;
}

header > .bottom .navbar-nav > li > .dropdown-menu .menu > li > span {
    font-weight: bold;
}

header > .bottom .navbar-nav > li > .dropdown-menu .menu > li > .sub-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

header > .bottom .navbar-nav > li > .dropdown-menu .menu > li > .sub-menu > li {
    line-height: 24px;
}

header > .bottom .navbar-nav > li > .dropdown-menu .menu > li > .sub-menu > li > a:hover {
    text-decoration: underline;
}

header > .bottom .navbar-nav > li > .dropdown-menu .menu > li > .sub-menu > li > a {
    color: #666;
}

header > .bottom .navbar-nav > li > a {
    color: #000;
    text-transform: uppercase;
}

.contact-phone-group {
    display: block;
    vertical-align: middle;
    padding-top: 8px;
}

.contact-phone {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.logo {
    /*width: 250px;*/
    width: 215px;
}

.c-red {
    color: red;
}

.service-header-img {
    height: 35px;
}

.banner .carousel-inner {
    height: 330px;
}

.banner .carousel-indicators {
}

.banner .carousel-indicators li {
    background: rgba(0, 0, 0, .5);
    border: rgba(0, 0, 0, .5);
}

.banner .carousel-indicators li.active {
    background: rgba(1, 98, 184, .8);
    border: rgba(1, 98, 184, .8);
}

.banner .carousel-inner .item > img {
    width: 100%;
}

.ads {
    border: solid 1px #ccc;
}

.ads img {
    width: 100%;
}

.products {
}

ul.breadcrumb {
}

ul.breadcrumb > li {
}

ul.breadcrumb > li > a {
    color: #000;
}

.products-header {
    background: #D3D3D3;
    padding: 5px 0;
}

.products-header.category {
    background: #fff;
    padding: 5px 0;
}

.products-header.category .heading {
    /*border: 1px solid #e1e1e1;*/
    text-align: center;
    padding: 10px;
}

.products-header.category .heading .subtitle {
    font-size: 12px;
    margin: 0;
    line-height: 18px;
    color: #777;
}

.products-header.category .heading .subtitle > span {
    color: red;
}

.products-header.category .products-header-categories-c {
    border: 1px solid #e1e1e1;
    display: table;
    width: 100%;
}

.products-header.category .products-header-categories {
    margin-top: 0;
}

.products-header.category .products-header-categories > li {
    padding: 10px 15px;
    margin: 0;
}

.products-header.category .products-header-categories > li > a {
    text-transform: uppercase;
}

.products-header.category .products-header-categories > li > a:hover {
    text-decoration: none;
    color: red;
}

.products-header.category .products-header-categories > li.active {
    background: red;
}

.products-header.category .products-header-categories > li.active > a {
    color: #fff;
}

.products-header.category .products-header-categories > li.active > a:hover {
    color: #fff;
}

.products-header h3 {
    display: inline-block;
    width: 154px;
    line-height: 45px;
    font-size: 16px;
    background: url(../img/heading-bg.png);
    margin: -10px 0;
    text-align: center;
    text-transform: uppercase;
}

.products-header h1 > span {
    background: #fff;
    padding: 10px 15px;
}

.products-header h1 {
    font-size: 18px;
    line-height: 1px;
    margin: 15px 0;
    background: #646464;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), color-stop(.5, #646464), to(transparent));
    background: -webkit-linear-gradient(left, transparent, #646464, transparent);
    background: -moz-linear-gradient(transparent, #646464, transparent);
    background: -o-linear-gradient(transparent, #646464, transparent);
}

.products-header h3 > a,
.products-header h3 > a:hover {
    color: #fff;
    text-decoration: none;
}

.products-header-categories {
    list-style: none;
    margin: 4px 0 0 0;
    padding: 0;
}

.products-header-categories > li {
    display: inline-block;
    margin-left: 10px;
}

.products-header-categories > li > a {
    color: #000;
}

.products-header-categories > li > a:hover {
    color: red;
    text-decoration: none;
}

.products-body {
    padding-bottom: 25px;
}

.products-body a {
    color: #000;
}

.products-body a:hover {
    text-decoration: none;
    color: #000;
}

.products-body .thumb:hover {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.products-body .thumb {
    border: 1px solid #E1E1E1;
    background: #fff;
    padding: 25px 10px 10px;
    position: relative;
    margin: 15px 0;
}

.products-body .thumb .img {
    width: 100%;
    height: 160px;
}

.products-body .thumb .img img {
    max-width: 100%;
    max-height: 100%;
}

.products-body .thumb .info {
}

.products-body .thumb .info .price {
    margin: 0;
    color: red;
    font-weight: bold;
}

.products-body .thumb .info .price.origin {
    color: #000;
    text-decoration: line-through;
    margin: 0;
}

.products-body .thumb .info h3 {
    font-size: 14px;
    border-bottom: solid 1px #e5e5e5;
    padding-bottom: 5px;
    margin: 10px 0;
}

.products-body .thumb .promotion {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    background: red;
    color: #FFF;
    padding: 0 7px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
}

.products-body .thumb .new {
    position: absolute;
    z-index: 10;
    top: 150px;
    left: 0;
    background: #26B31C;
    color: #FFF;
    padding: 0 10px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    border: 1px solid #12700B;
}

.products-body .thumb .badge {
    position: absolute;
    padding: 1px 5px;
    z-index: 100;
    right: 0;
    bottom: 10px;
    background: #32a7c8;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 11px;
    line-height: 20px;
    color: #fff;
    border-radius: 0;
}

.products-body .thumb .badge:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-right: 10px solid #32a7c8;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    top: 0px;
    left: -10px;
}

footer {
    background: #F0F0F0;
    position: relative;
}

footer .footer-top {
    padding: 10px 0;
    border-bottom: solid 1px #E1E1E1;
}

footer .footer-top .phone-icon {
    margin-right: 15px;
}

footer .footer-middle {
    padding: 25px 0;
    border-bottom: solid 1px #E1E1E1;
}

footer .footer-middle h3 {
    font-size: 14px;
    font-weight: bold;
}

footer .footer-middle ul {
    padding: 0 0 0 15px;
}

footer .footer-middle ul > li {
}

footer .footer-middle ul > li > a {
    color: #555;
    text-decoration: none;
}

footer .footer-middle ul > li > a:hover {
    color: #555;
    text-decoration: underline;
}

footer .footer-middle .phone {
    color: red;
    font-weight: bold;
    font-size: 16px;
}

footer .footer-bottom {
    padding: 15px 0;
    text-align: center;
    font-size: 12px;
}

footer .footer-bottom p {
    margin: 0;
}

.product {
    padding-bottom: 50px;
}

.product .product-detail {
}

.product .product-detail .zoom-area {
    width: 100%;
}

.product .product-detail .zoom-area .zoom-img {
    width: 100%;
    height: auto;
    background-size: 100%;
    border: 1px solid #CCC;
}

.product .product-detail .zoom-area .zoom-img > img {
    width: 100%;
}

.product .product-detail .zoom-area .gallery {
}

.product .product-detail .zoom-area .gallery ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
}

.product .product-detail .zoom-area .gallery ul > li {
    width: 25%;
    height: 80px;
    display: inline-block;
    float: left;
    margin-bottom: 5px;
    text-align: center;
}

.product .product-detail .zoom-area .gallery ul > li:nth-child(4n) {
    margin-right: 0;
}

.product .product-detail .zoom-area .gallery ul > li:hover {
    cursor: pointer;
}

.product .product-detail .zoom-area .gallery ul > li > img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #CCC;
}

.product .product-detail .product-info {

}

.product .product-detail .product-info h1 {
    color: #0162B8;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product .product-detail .product-info .price {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.product .product-detail .product-info p {

}

.product-buy {
    background: #ED1B22;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#EE595E), to(#ED1B22));
    background: -webkit-linear-gradient(top, #EE595E, #ED1B22);
    background: -o-linear-gradient(#EE595E, #ED1B22);
    color: #FFF;
    border-radius: 4px;
    padding: 10px 15px;
    -webkit-appearance: none;
    border: none;
    overflow: visible;
    font: inherit;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 28px;
    min-height: 30px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    border-bottom-color: rgba(0, 0, 0, .3);
    width: 100%;
}

.product-buy .title {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 30px;
    display: block;
}

.product-buy .subtitle {
    font-size: 13px;
    line-height: 18px;
    display: block;
}

.product-buy:hover {
    text-decoration: none;
    color: #fff;
}

.product-pay {
    background: #0199DE;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#18A9EA), to(#0199DE));
    background: -webkit-linear-gradient(top, #18A9EA, #0199DE);
    background: -moz-linear-gradient(#18A9EA, #0199DE);
    background: -o-linear-gradient(#18A9EA, #0199DE);
    color: #FFF;
    border-radius: 4px;
    padding: 10px 15px;
    -webkit-appearance: none;
    border: none;
    overflow: visible;
    font: inherit;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 28px;
    min-height: 30px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    border-bottom-color: rgba(0, 0, 0, .3);
    width: 100%;
}

.product-pay .title {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 30px;
    display: block;
}

.product-pay .subtitle {
    font-size: 13px;
    line-height: 18px;
    display: block;
}

.product-pay:hover {
    text-decoration: none;
    color: #fff;
}

.product .product-detail .product-intro {
}

.product .product-detail .product-intro h3 {
    font-size: 16px;
    font-weight: bold;
}

#modal-checkout {
}

#modal-checkout .modal-dialog {
    width: 700px;
}

#modal-checkout .product-info {
}

#modal-checkout .product-info > img {
    width: 100%;
    margin-bottom: 15px;
}

#modal-checkout .product-info .price > span {
    color: #2eb51c;
    font-weight: normal;
    font-size: 14px;
}

#modal-checkout .product-info .price {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

#modal-checkout .checkout-info .form-control {
    border-radius: 0;
}

.product-filter {
}

.product-filter ul.filter {
    display: block;
    width: calc(100% - 2px);
    height: 36px;
    border: 1px solid #ddd;
    background: #fff;
    position: relative;
    z-index: 999;
    list-style: none;
    padding: 0;
}

.product-filter ul.filter li.first-li {
    background: #eee;
    padding: 7px 10px;
    font-size: 13px;
    overflow: hidden;
}

.product-filter ul.filter li {
    float: left;
    position: relative;
    color: #333;
    height: 34px;
    margin-right: 18px;
    list-style: none;
    position: relative;
}

.product-filter ul.filter li.last-li {
    float: right;
    margin-right: 18px;
}

.product-filter ul.filter li a {
    display: block;
    font-size: 13px;
    color: #333;
    padding: 7px 8px;
    white-space: nowrap;
    margin: 0 !important;
}

.product-filter ul.filter li .dropfilter {
    display: none;
    position: absolute;
    top: 34px;
    left: 0;
    right: 0;
    z-index: 999;
    width: 200px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #d7d7d7;
    border-top: 0;
    padding: 0;
    margin-top: 1px;
}

.product-filter ul.filter li .dropfilter li {
    height: auto;
    float: none;
    margin-right: 0;
}

.product-filter ul.filter li .dropfilter li a {
    padding-left: 25px !important;
    background: #fff;
}

.product-filter ul.filter li .dropfilter li a.checked {
    background: #f5f5f5;
    font-weight: 700;
}

.product-filter ul.filter li:hover .dropfilter {
    display: block;
    border-top: 1px solid #d7d7d7;
}

@media (min-width: 320px) {
    .product-filter ul.filter li:hover .dropfilter {
        display: block;
        left: inherit;
        right: 0;
    }
}

@media (max-width: 320px) {
    .product-filter ul.filter li:hover .dropfilter {
        display: block;
        left: 0;
        right: inherit;
    }

    .product-filter ul.filter li.last-li:hover .dropfilter {
        display: block;
        left: inherit;
        right: 0;
    }
}

.product-filter ul.filter li:hover .dropfilter li a.checked:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: '\f00c';
    float: left;
    font-weight: normal;
    font-size: 16px;
    margin-left: -17px;
    color: #888;
}

.product-filter ul.filter li .tcolum {
    width: 360px;
}

.product-filter ul.filter li .tcolum li {
    float: left;
    width: 33%;
}

.product-filter ul.filter li .tcolum li.nofloat {
    float: none !important;
    width: 100% !important;
}

.arrdown {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #888;
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    right: -10px;
    top: 12px;
    vertical-align: top;
}

.loading {
    font-size: 25px;
    color: #333;
}

.to-top {
    background: rgb(1, 98, 184);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    position: fixed;
    bottom: 65px;
    width: auto;
    right: 10px;
    cursor: pointer;
    display: none;
}

.to-top a {
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
}

.to-top a:focus,
.to-top a:hover {
    text-decoration: none;
    color: #fff;
}

.product-offers {
    position: relative;
    width: 100%;
    border: 1px solid #cecece;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
}

.product-offers .title {
    position: absolute;
    background: white;
    font-size: 16px;
    padding: 0 5px;
    color: black;
    font-weight: bold;
    margin: -20px 0 0 0;
    display: block;
}

.product-offers ul {
    border-radius: 4px;
    margin: 0;
    padding: 5px;
    list-style: none;
}

.product-offers ul > li {
    list-style: none;
    margin: 3px 0 3px 5px;
    font-size: 14px;
    color: #58595b;
}

.product-offers ul > li:before {
    content: "\f111";
    font-family: FontAwesome;
    margin-right: 10px;
    font-size: 4px;
    line-height: 18px;
    color: #58595b;
    vertical-align: middle;
}

.product-info-instock {
    color: darkgreen;
    font-size: 14px;
}

.color {
    width: 15px;
    height: 15px;
    border: 1px solid #ddd;
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-right: 5px;
}

.color.active:before {
    display: block;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f063";
    position: absolute;
    top: -15px;
    left: 0px;
    width: 15px;
    height: 15px;
    font-size: 15px;
    color: darkgreen;
    animation: dropdownel 1s steps(5, start) infinite;
    -webkit-animation: dropdownel 1s steps(5, start) infinite;
}

.thumb.small {
    margin-bottom: 10px;
}

.thumb.small .info {
    float: left;
    width: 65%;
}

.thumb.small .info h3 {
    font-size: 14px;
    margin: 0 0 5px 0;
}

.thumb.small .info .price {
    color: red;
}

.thumb.small .info h3 > a {
    color: #333;
}

.thumb.small .img {
    width: 70px;
    height: 70px;
    text-align: center;
    float: left;
}

.thumb.small .img img {
    max-width: 100%;
    max-height: 100%;
}

.sidebar-title {
    font-size: 16px;
    margin: 0 0 14px 0;
    font-weight: bold;
}

#products-sidebar-categories.fixed {
    position: fixed;
    top: 52px;
    background: #fff;
}

#products-sidebar-categories .buttons {
    display: none;
}

#products-sidebar-categories.fixed .buttons {
    display: block;
}

#products-sidebar-categories.fixed .sidebar-title {
    margin-top: 20px !important;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}

#mobile-menu-btn, #mobile-logo, #mobile-menu {
    display: none;
}

#products-sidebar-categories {
    width: 254px;
}

.post-thumb {
    clear: both;
    margin-bottom: 15px;
    display: table;
    width: 100%;
}

.post-thumb > .img {
    width: 20%;
    /*height: 90px;*/
    float: left;
    margin-right: 15px;
    position: relative;
    background: #f5f5f5;
}

.post-thumb > .img > img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.post-thumb > .info {
}

.post-thumb > .info > a {

}

.post-thumb > .info > a > h4 {
    margin: 0;
    color: #000;
}

.post-thumb > .info > .desc {
}

.ratio16x9:before,
.ratio4x3:before {
    content: '';
    display: block;
}

.ratio16x9:before {
    margin-top: 56.25%;
}

.ratio4x3:before {
    padding-top: 75%;
}

.to-phone {
    display: none;
}

.hotline {
    display: none;
}

@media (max-width: 767px) {
    .to-phone {
        display: block;
        background: #26B31C;
        font-size: 30px;
        position: fixed;
        left: 10px;
        color: #fff;
        bottom: 20px;
        text-align: center;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        border: solid 2px #f5f5f5;
        line-height: 50px;
        z-index: 999;
    }

    .to-phone:focus,
    .to-phone:hover {
        color: #fff;
    }

    body {
        padding-top: 0;
    }

    #mobile-menu-btn {
        display: block;
    }

    #mobile-logo {
        display: block;
        text-align: center;
        /*
        position: fixed;
        top: 0;
        left: 0;
        */
        background: #fff;
        /*right: 0;*/
        z-index: 9999;
    }

    #mobile-menu {
        display: block;
    }

    #logo {
        display: none;
    }

    .navbar-fixed-top {
        /*top: 85px;*/
    }

    header > .middle {
        padding-top: 55px;
        /*padding-top: 140px;*/
        margin-top: 0;
    }

    .navbar-inverse .navbar-toggle {
        margin: 0;
    }

    .navbar-inverse .navbar-toggle > i {
        font-size: 24px;
    }

    .contact-phone-group {
        text-align: center;
    }

    .contact-phone-group .cskh-label {
        display: block;
        font-weight: bold;
    }

    #mobile-menu {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 280px;
        height: 100%;
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        background: #fff;
    }

    #mobile-menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #mobile-menu ul > li {
        position: relative;
    }

    #mobile-menu ul > li > a {
        display: block;
        padding: 0.7em 1em 0.7em 1.8em;
        outline: none;
        box-shadow: inset 0 -1px #eee;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
        font-size: 1em;
        text-decoration: none;
        color: #555;
        -webkit-transition: background 0.3s, box-shadow 0.3s;
        -moz-transition: background 0.3s, box-shadow 0.3s;
        transition: background 0.3s, box-shadow 0.3s;
        text-transform: uppercase;
    }

    #mobile-menu ul > li > ._has_sub {
        position: absolute;
        right: 10px;
        font-size: 20px;
        top: 10px;
    }

    #mobile-menu ul > li > ul.sub-menu {
        display: none;
    }

    #mobile-menu ul > li > ul.sub-menu > li {
    }

    #mobile-menu ul > li > ul.sub-menu > li > a {
        padding-left: 50px;
        text-transform: capitalize;
    }

    #desktop-menu {
        display: none;
    }

    #main-container {
        position: relative;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
    }

    #main-container.collapsed {
        transform: translate3d(280px, 0px, 0px);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
        position: relative;
    }

    #main-container.collapsed:after {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        content: '';
        background: rgba(0, 0, 0, 0.3);
    }

    .banner .carousel-inner {
        height: auto;
        margin-bottom: 10px;
    }

    #top .slide {
        padding: 0;
    }

    #top .box-ads {
        padding: 0;
        display: none;
    }

    #top .mobile-ads {
        display: none;
    }

    #top .box-ads .ads {
        border: none;
    }

    #top .box-ads .ads iframe {
        width: 100%;
    }

    .products-header.category .products-header-categories-c {
        position: relative;
    }

    .products-header-categories.pull-right {
        position: absolute;
        right: -1px;
        width: 180px;
        background: #fff;
        z-index: 100;
        border: 1px solid #e1e1e1;
        top: 100%;
        display: none;
    }

    .products-header-categories-c > .fa.collapse {
        font-size: 20px;
        margin: 10px 10px 0 0;
        display: block !important;
    }

    .products-header-categories.pull-right > li {
        display: block;
        padding: 5px 15px !important;
        border-bottom: 1px solid #e1e1e1;
    }

    .products-header-categories.pull-right > li > a {
    }

    .products-body .thumb .info {
        height: 80px;
    }

    .products-body .thumb {
        margin: 10px 0;
    }

    footer .footer-top {
        padding: 15px 10px;
    }

    #content * {
        max-width: 100%;
    }

    #products-sidebar-categories.fixed {
        position: static;
    }

    .post-thumb > .img {
        width: 100%;
        float: left;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .hotline {
        line-height: 46px;
        display: inline-block;
    }

    .navbar-header {
        text-align: center;
    }

    .mobile-hide {
        display: none;
    }

    .product-buy {
        margin-bottom: 10px;
    }

    #modal-checkout .modal-dialog {
        width: 95%;
        margin: 0 auto;
    }

    #modal-checkout .modal-footer {
        text-align: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {

}